<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="papaya.css" />
        <style>
            .table-sm th, .table-sm td { padding-left: 0.8rem; padding-right: 0.8rem; }
            kbd { margin-right: 0.1rem; }
            .popover { max-width: 100%; }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
        
        <title>LEGACY PACS</title>
    </head>
    <body class="pt-5">
        <div class="container-fluid" id="app">
            <nav class="navbar fixed-top navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">LEGACY PACS</span>
                <span class="alert alert-primary my-0">Use your <strong>videoconferencing software</strong> to share with remote users.</span>
            </nav>
            <div class="row mt-5">
                <div class="col-9">
                    <div class="input-group mb-3 px-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="caseSelect">Worklist</label>
                        </div>
                        <select class="custom-select" id="caseSelect" v-model="caseSelect" v-bind:disabled="!controlToggle">
                            <option name="rtc-case-null.nii.gz" disabled value="">Choose a case...</option>
                            <option v-for="n in 2" v-bind:value="`cases/rtc-case-${n}.nii.gz`" v-bind:name="`rtc-case-${n}.nii.gz`">Case {{n}}</option>
                        </select>
                    </div>
                    <div class="papaya" data-params="papayaConfig" id="papaya" v-bind:style="{ pointerEvents: (controlToggle) ? 'auto' : 'none' }"></div>
                </div>
                <div class="col">
                    <ul class="list-group mb-3">
                        <li class="list-group-item"><strong>My Status</strong></li>
                        <li class="list-group-item list-group-item-secondary">
                            <div class="custom-control custom-switch text-center">
                                <input type="checkbox" class="custom-control-input" id="controlToggle" v-model="controlToggle" disabled>
                                <label class="custom-control-label" for="controlToggle"><abbr id="instructionsLink" data-toggle="popover">Control</abbr> the viewer</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3 px-2 d-none">
                <div class="col-9">
                    <table id="instructions" class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Input</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Change coordinate</td>
                                <td><kbd>L-click + Drag</kbd> (orthogonal planes) <span class="mx-3"></span> <kbd>Scroll Wheel</kbd> (axial slice)</td>
                            </tr>
                            <tr>
                                <td>Point (show cursor to peers)</td>
                                <td><kbd>Ctrl + L-click +/- Drag</kbd></td>
                            </tr>
                            <tr>
                                <td>Adjust brightness/contrast</td>
                                <td><kbd>R-click + Drag</kbd></td>
                            </tr>
                            <tr>
                                <td>Zoom</td>
                                <td><kbd>Ctrl + R-click + Drag</kbd></td>
                            </tr>
                            <tr>
                                <td>Pan (while zoomed)</td>
                                <td><kbd>Shift + Ctrl + R-click + Drag</kbd></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="papaya.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://radiogra.ph/rtcpacs/legacypacs.js"></script>
        <script>
            var papayaConfig = {
                 showOrientation: true,
                 radiological: true,
                 kioskMode: true,
                 showControls: false,
                 loadingComplete: function() {
                     papaya.viewer.Viewer.CROSSHAIRS_COLOR = "rgba(239, 41, 41, 255)";
                     papaya.viewer.Viewer.CROSSHAIRS_SIZE = 0.02;
                 }
            };

            $('#instructionsLink').popover({
                trigger: 'hover',
                placement: 'left',
                html: true,
                content: $('#instructions'),
                container: 'body'
            });
        </script>
    </body>
</html>
